*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
    background-image: url(./images/img\ 5.jpg);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                     inset 5px 5px 5px rgba(255, 255, 255, 0.05),
                     5px 5px 5px rgba(0, 0, 0, 0.05),
                     5px 5px 5px rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .card:hover .one .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    background: url(./images/new\ \(8\).jpg);
    background-size: cover;
}
.container .card:hover .two .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    background: url(./images/new1.jpg);
    background-size: cover;
}
.container .card:hover .three .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    background: url(./images/img\ 11.jpg);
    background-size: contain;
}
.container .card:hover .four .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    background: url(./images/new\ \(5\).jpg);
    background-size: cover;
}
.container .card:hover .five .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    background: url(./images/new\ \(6\).jpg);
    background-size: cover;
}
.container .card .box .content{
    padding: 20px;
    text-align: center;
}
.container .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.249);
    transition: 0.5s;
    pointer-events: none;
}
.container .card:hover .box .content h2{
    color: rgb(34, 33, 33);
}
.container .card .box .content h3{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card:hover .box .content h3,
.container .card:hover .box .content p{
    color: rgb(14, 15, 15);
}
.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9fa;
    margin-top: 15px;
    border-radius: 20px;
    color: #ebf5fc;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
.container .card .box .content a{
    background: #cb17c8b2;
}
.git{
    position:absolute;
    padding: 8px 20px;
    background: #03a9fa;
    margin-bottom: -65rem;
    margin-right: 21rem;
    border-radius: 20px;
    color: #ebf5fc;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    transition: .5s;
}
.git:hover{
    margin-bottom: -11rem;
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0,0.4);
    z-index: 1;
    transition: 3s;
}