*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
nav{
    background-color: rgb(215, 17, 17);
}
li, a, button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    margin-left: -60px;
    max-width: 130px;
    border-radius: 50%;
    cursor:pointer;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: blue;
}
button{
    margin-left: -20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(5, 37, 133, 0.912);
}
